extends ../../common-templates/main-layout

block content
  h1 Create New Rubiks Cube
  form(action="/cubes/create" method="POST")
    input(name="cubeId" type="hidden" value=cubeId)
    .form-group
      label(for="name") Name
      input#cubename.form-control(class={ 'is-invalid': errors && errors.cubename } type="text" name="cubename" placeholder="name")
      if errors && errors.cubename
        .invalid-feedback= errors.username.join(', ')
    button(type="submit") Create!