extends ../../common-templates/main-layout

block content
  h1 Create New Rubiks Cube
  form(action="/cubes/create" method="POST")
    input(name="cubeId" type="hidden" value=cubeId)
    .form-group
      label(for="name") Name
      input#name.form-control(class={ 'is-invalid': errors && errors.name } type="text" name="name" placeholder="name")
      if errors && errors.name
        .invalid-feedback= errors.name.join(', ')
    button(type="submit") Create!